.hero{
    height: 700px;
    background-image: url("../assets/image 100.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media(max-width: 500px){
    .hero{
        height: 500px;
    }
}

.image {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 20px;
}